{% extends 'base.html' %}

{% block title %}{{ block.super }} - Maplestory bulletin board crawler{% endblock %}

{% block page-content %}
{% load i18n static %}
<div class="grid-container ">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell medium-9 large-9">
            <h4 class="page-intro text-center"><strong>Basic demo from the oficial tutorial that crawls data from
                    http://quotes.toscrape.com.</strong> using django as a base framework to handle request and
                presentation on the web. As for backend we use scrapy to handle crawling and scraping data from specific
                site, in this case we will get data from <a
                    href="http://quotes.toscrape.com">http://quotes.toscrape.com</a></h4>
            <form>
                <div class="grid-container">
                    <div class="grid-x grid-padding-x align-center">
                        <div class="cell large-4 medium-4">
                            <button type="submit" class="button large expanded">Start Crawling</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="grid-x grid-padding-x align-center">
                <div class="cell large-4 medium-4">

                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="large-12 medium-12 cell">
            <hr class="dotted" />
        </div>
    </div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-6 medium-6">
            {% if quotes %}
            <div class="timeline">

                {% for quote in quotes %}
                <div class="testimonial-block-vertical">
                    <div class="testimonial-block-vertical-quote">
                        <p>{{ quote.text }}</p>
                    </div>
                    <div class="testimonial-block-vertical-person">
                        <img class="testimonial-block-vertical-avatar" src="https://placehold.it/60" alt="" />
                        <div>
                            <p class="testimonial-block-vertical-name">{{ quote.author|upper }}</p>
                            <p class="testimonial-block-vertical-info">Important person, some Company</p>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="large-12 medium-12 cell">
                        <hr class="dotted" />
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block blockjs %}
<script type="text/javascript">
    var taskId;
    var uniqueId;
    var statusInterval;
    var url;
    var siteUrl = 'http://quotes.toscrape.com/';
    var selectedCategory;

    $(document).ready(function () {
        $("form").submit(function (event) {
            var form = new FormData();
            form.append("url", siteUrl);

            var settings = {
                "url": "{% url 'main:crawl' %}",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
            }).fail(function () {
                alert("error");
            });

            event.preventDefault();
        });
    });
</script>
{% endblock %}
